body {
    margin: 0;
    color: var(--font-color);
    /* font-family: 'Roboto'; */
}

.content {
    display: flex;
    height: calc(100vh - var(--titlebar-height));
}

.left-panel, .main-content {
    display: flex;
    flex-direction: column;
}

.left-panel {
    width: 200px;
    min-width: 200px;
    min-height: fit-content;

    background-color: var(--color-dark-gray);
}

.left-panel, .control-panel {
    padding: 20px;
}

.main-content {
    width: 100%;
    background-color: var(--main-content-background);
    
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    min-height: 55px;

    background-color: var(--color-darker-gray);
}

.navbar-right {
    margin-right: 0;
    margin-left: auto;
}

.navbar-items, .left-panel-options, .control-buttons {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;

    margin: 0;
}

.navbar, .left-panel-options {
    padding: 5px 10px;
}

.left-panel-options {
    flex-direction: column;
}

.left-panel-option {
    display: flex;
    margin: 5px 0;
    width: 100%;
    a {
        width: 100%;
    }
}

.nav-item {
    margin: 0 10px;
}

.statistic-preview {
    margin: auto;
}

.control-panel {
    height: 40%;
    display: flex;
    flex-direction: column;
    
    align-items: center;

    ul {
        margin: 10px auto;
    }

    .bottom {
        margin-top: auto;
    }
}

.control-button, button, input[type="button"] {
    cursor: pointer;
    transition: 150ms;
    border: none;
    border-radius: var(--default-border-radius);
    background-color: var(--background-color);
    color: var(--font-color);

    padding: 10px;
}

.cancel {
    background-color: var(--color-nono-red);
    color: var(--font-color);
}

.confirm {
    color: var(--font-color-hover);
    background-color: var(--color-ok-green);
}

button:hover, input[type="button"]:hover {
    background-color: var(--background-color-hover);
    color: var(--font-color-hover)
}

.control-button {
    margin: 0 10px;
}

.control-button:hover {
    padding: 12px;
}

.settings-button {
    margin-top: auto;
}

.close-button {
    position: absolute;
}

hr {
    min-height: 3px;
    width: 100%;
    padding: 0;
    margin: 0;

    background-color: var(--background-color);
    border: none;
}

a {
    text-align: center;
    text-decoration: none;

    background-color: var(--background-color);
    border-radius: var(--default-border-radius);
    color: var(--font-color);

    padding: 7px 12px;
}

a:hover {
    transition: 150ms;
    background-color: var(--background-color-hover);
    color: var(--font-color-hover);
}

.behind-overlay {
    filter: blur(2px);
}

.overlay-holder {
    display: flex;
    flex-direction: column;
}

.overlay {
    width: 100%;
    height: calc(100% - var(--titlebar-height));
    background-color: rgba(0, 0, 0, 0.8);
    filter: blur();

    display: flex;
    align-items: center;
    
    position: absolute;
    z-index: 1;
}

.floating-menu {
    width: fit-content;
    height: fit-content;
    min-width: 200px;
    
    padding: 15px;
    background-color: var(--background-color);
    border-radius: 10px;

    margin: auto;
}

.settings-menu {
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        margin: 0;
    }
    ul {
        padding: 0;
        list-style: none;
    }
}

.config-row {
    margin: 5px auto;
    display: flex;
    label {
        margin-right: auto;
    }

    input {
        margin-left: 10px;
        height: 20px;
        border-radius: 8px;
        padding: 2px;
        border: none;
    }
}

.hidden {
    display: none;
}

.bottom {
    margin-top: auto;
}