:root {
    --color-main: #E6B63A;
    --color-main-dark: #06041B;
    --color-clear-white: #F5FCFF;
    --color-clear-black: #0D0E11;
    --color-ok-green: #92FF93;
    --color-nono-red: #DA4B4B;
    --color-gray: #31343D;
    --color-dark-gray: #1D1F24;
    --color-darker-gray: #18191D;

    --default-border-radius: 8px;
    --titlebar-height: 30px;
}

@media (prefers-color-scheme: light) {
  * {
    --color-main: #E6B63A;
    --color-main-dark: #F5FCFF;
    --color-clear-white: #06041B;
    --color-clear-black: #F5FCFF;
    --color-ok-green: #92FF93;
    --color-nono-red: #DA4B4B;
    --color-gray: #e4ebfd;
    --color-dark-gray: #cfd5e6;
    --color-darker-gray: #bdc6df;
  }
}

* {
    font-family: "PixelFont";
}

.titlebar {
    font-family: "PixelFont";
    height: var(--titlebar-height);
    padding: 0 5px;
    background: var(--color-main-dark);
    color: var(--color-main);
    display: flex;
    align-items: center;
    app-region: drag;
}